.content__container {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 40px 0px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 250%;
    color: #000;
}

.footer__contacts {
    display: flex;
    gap: 20px;
}

.content__container span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 250%;
    color: #000;
}

.color__none {
    display: none;
}

.social__list {
    width: 188px;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .content__container {
    flex-direction: column;
    align-items: center;
    }

    .color__none {
    display: block;
    }
}

@media screen and (max-width: 600px) {
    .content__container {
    padding: 33px 0px 18px 0px;
    }
}